<table style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'>
    <tr>
        <td width='300'>{{surgeryName}}<br/><a href='#' class='remove_surgery noprint'>Удалить</a></td>
        <td width='150'><input type='hidden' name='ProtocolEnrolment[surgeryRel][{{rnd}}][surgery_uid]'
                               value={{surgeryId}}><input type='date'
                                                          name='ProtocolEnrolment[surgeryRel][{{rnd}}][date]'
                                                          class='surgery_date_input' id="{{rnd}}_datepicker" value="{{date}}"></td>
        <td width='250'><textarea placeholder='Характер операции' cols='60'
                                  name='ProtocolEnrolment[surgeryRel][{{rnd}}][descr]'
                                  style='height: 100px;'>{{descr}}</textarea></td>
    </tr>
</table>