<table style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'><tr>
<td width='300'>{{pharmName}}<br /><a href='#' class='remove_pharm'>Удалить</a></td>
<td width='150'><input type='hidden' name='ClinicalData[therapy][{{pharmId}}][product_uid]' value="{{pharmId}}"><input type='text' name='ClinicalData[therapy][{{pharmId}}][dose]' placeholder="Доза" value="{{dose}}" class="pharm_dose_input decimal_field"></td>
<td width='250'><select name='ClinicalData[therapy][{{pharmId}}][measure]'>
    {{#measure}}<option value="{{id}}" {{#selected}}selected=selected{{/selected}}>{{val}}</option>{{/measure}}
</select></td>
</tr></table>