<table style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'><tr>
<td width='300'>{{surgeryName}}<br /><a href='#' class='remove_surgery'>Удалить</a></td>
<td width='150'><input type='hidden' name='ClinicalData[surgeryRel][{{rnd}}][surgery_uid]' value='{{surgeryId}}'><input type='date' name='ClinicalData[surgeryRel][{{rnd}}][date]' class='surgery_date_input' value="{{date}}"></td>
</tr></table>