
.statisticsFilterGridContainer {
    width: 100%;
    display: inline-block;
}

table.statisticsFilterGrid {

}

.statisticsFilterGrid th {
    text-align: left;
    font-weight: normal;
}

.statisticsFilterGrid .patientColumn {
    width: 250px;
}

.statisticsFilterGrid .deviceTypeColumn {
    padding-left: 60px;
    width: 200px;
}

.statisticsFilterGrid .deviceNameColumn {
    deviceNameColumn: 250px;
}

.statisticsSelectPatientDiv {
    display: block;
    width: 250px;
    max-height: 300px;
    overflow-y :auto;
}

.statisticsSelectDeviceType {
    display: block;
}

.statisticsSelectDeviceDiv {
    display: block;
    width: 250px;
    max-height: 300px;
    overflow-y :auto;
}



.statisticsFilterGrid label{
    display: inline-block;
}
