table.rh-main-table
{
    width: 100%;
    margin: 10px 0;
}

table.rh-main-table, .border-right
{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.rh-main-table tbody th
{
    border-top: 0;
    line-height: 14px;
}

.rh-main-table thead,
.rh-main-table th
{
    background: #C4D6FE;
}

.table-bordered.rh-main-table td
{
    border-left: 0;
}

div.left-column
{
    margin-left: 0;
}

div.left-column,
div.right-column
{
    font-size: 13px;
}

.color-grey
{
    background: #F0F0F2;
}

.color-blue
{
    background: #C4D6FE;
}

#tachy-table td
{
    text-align: center;
}

.rh-main-table .text-center
{
    text-align: center;
}

#event-episodes div
{
    margin:0 auto;
    width: 80%;
    background: #1144AA;
}

#event-episodes .chart-column
{
    height:50px;
    padding:0;
    vertical-align:bottom;
    text-align: center;
}

#event-episodes .left-border,
.left-border
{
    border-left: 1px solid #DDDDDD;
}

#event-episodes .right-border
{
    border-right: 1px solid #DDDDDD;
}

#event-episodes .text-y-axis
{
    padding:0;
    border:0;
    vertical-align: top;
    text-align: right;
}

.remove-border
{
    border: 0;
}

.rh-no-padding-table th, .rh-no-padding-table td  {padding: 0;}

.actual-finding td {font-weight: bold;}
.finding-row td {vertical-align: middle; height: 50px;}

.status_icon_wrapper .hidden {
    visibility: hidden;
}

.showPatientsFilter {
    display: inline-block;
    width: 160px;
}