<table style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'>
    <tr>
        <td width='300'>{{name}}<br/><a href='#' class='remove_etiology_row noprint'>Удалить</a></td>
        <td width='350'><input type='hidden' class='custom_etiology' name='ProtocolAnnual[deseaseRel][{{id}}][icd10_uid]' value='{{id}}'>
            <textarea placeholder='Подробности'
                                  name='ProtocolAnnual[deseaseRel][{{id}}][descr]'
                                  style='height: 100px; width: 350px;'>{{descr}}</textarea></td>
    </tr>
</table>