.rh_table_grid
{
    padding: 15px 0;
    line-height: 18px;
}

.rh_table_grid table.items
{
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.rh_table_grid table.items th, .rh_table_grid table.items td
{
    font-size: 8pt;
    border: 1px white solid;
    padding: 0.3em;
}

.rh_table_grid table.items th
{
    font-size: 9pt;
    color: white;
    background: url("bg.gif") repeat-x scroll left top white;
    text-align: center;
}

.rh_table_grid table.items th a
{
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
}

.rh_table_grid table.items th a:hover
{
    color: #FFF;
}

.rh_table_grid table.items th a.asc
{
    background:url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.rh_table_grid table.items th a.desc
{
    background:url(down.gif) right center no-repeat;
    padding-right: 10px;
}

.rh_table_grid table.items tr.even
{
    background: #F8F8F8;
}

.rh_table_grid table.items tr.odd
{
    background: #E5F1F4;
}

/*.rh_table_grid table.items tr.selected*/
/*{*/
    /*background: #BCE774;*/
/*}*/

/*.rh_table_grid table.items tr:hover.selected*/
/*{*/
    /*background: #CCFF66;*/
/*}*/

/*.rh_table_grid table.items tbody tr:hover*/
/*{*/
    /*background: #ECFBD4;*/
/*}*/

.rh_table_grid .link-column img
{
    border: 0;
}

.rh_table_grid .button-column
{
    text-align: center;
    width: 60px;
}

.rh_table_grid .center-column
{
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.rh_table_grid .button-column img
{
    border: 0;
}

.rh_table_grid .checkbox-column
{
    width: 15px;
}

.rh_table_grid .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.rh_table_grid .pager
{
    margin: 5px 0 0 0;
    text-align: right;
}

.rh_table_grid .empty
{
    font-style: italic;
}

.rh_table_grid .filters input,
.rh_table_grid .filters select
{
    width: 90%;
    border: 1px solid #ccc;
}

@media print {
    .rh_table_grid {width: 120%}
    .rh_table_grid td {font-size: 12px; padding-bottom: 3px;padding-left: 5px;border-bottom: 1px #d3d3d3 solid;page-break-inside: avoid;}
    .rh_table_grid th {font-size: 12px; padding-bottom: 3px;padding-left: 5px;border-bottom: 1px #d3d3d3 solid;}
    .rh_table_grid .summary {display: none;}
    .rh_table_grid .pager {display: none;}
    .rh_table_grid table.items tr.even {background-color: #eeeeee !important;}
    tr.filters {display: none;} /* фильтры в гридах нам не нужны*/

}