<table class='red_finding_table'
       style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'>
    <tr style='vertical-align: top;'>
        <td width='300'>
            <span class='finding_number'>{{counter}}</span>. Cообщение: <br/>{{finding}}</td>
        <td width='150'>
            <input type='hidden' name='ProtocolEvolution[finding][{{findingId}}][finding_uid]' class='findingId'
                   value="{{findingId}}">
            <input type='hidden' class='findingMessage' value='{{finding}}'>
            Дата сообщения: <br/>{{create_time}}</td>
        <td width='250'>
            Предпринятые действия: <br/><textarea placeholder='Предпринятые действия' cols='60'
                                                  name='ProtocolEvolution[finding][{{findingId}}][action]'
                                                  style='height: 100px;'>{{action}}</textarea></td>
    </tr>
    <tr style='vertical-align: top;'>
        <td>Дата первого предпринятого действия: <br/><input type='date'
                                                             name='ProtocolEvolution[finding][{{findingId}}][action_date]'
                                                             value="{{action_date}}"></td>
        <td>Посещение клиники: <br/><input type='checkbox' value="1"
                                           name='ProtocolEvolution[finding][{{findingId}}][clinic_visit]'
            {{#clinic_visit}} checked='checked'{{/clinic_visit}}></td>
        <td>Расстояние (км): <br/><input type='text' name='ProtocolEvolution[finding][{{findingId}}][clinic_distance]'
                                         value="{{clinic_distance}}"></td>
    </tr>
    <tr style='vertical-align: top;'>
        <td>Время в пути (часов): <br/><input type='text' name='ProtocolEvolution[finding][{{findingId}}][clinic_time]'
                                              value="{{clinic_time}}"></td>
        <td><a href='#' class='remove_red_finding noprint'>Удалить</a></td>
        <td></td>
    </tr>
</table>