<table class='yellow_finding_table'
       style='border-bottom: 1px solid #000000;border-top: 1px solid #000000;margin-top:-1px;'>
    <tr style='vertical-align: top;'>
        <td width='300'>
            <span class='finding_number'>{{counter}}</span>. Cообщение: <br/>{{finding}}
        </td>
        <td width='150'>
            <input type='hidden' name='ProtocolEvolution[finding][{{findingId}}][finding_uid]' class='findingId'
                   value='{{findingId}}'>
            <input type='hidden' class='findingMessage' value='{{finding}}'>
            Дата сообщения: <br/>{{create_time}}
        </td>
        <td width='250'><a href='#' class='remove_yellow_finding noprint'>Удалить</a></td>
    </tr>
</table>